<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
    <title>Error</title>
</head>

<body>

    <div class="login-container">
        <div class="login-box-main login-box">
            <h1 class="h2-LOGIN">404</h1>
            <h2 class="h2-LOGIN">Page not Found!</h2>
            <button id="backBTN" onclick="window.location.href='{{ url_for( 'loginPage') }}';" style="height: 50px; width: 170px;" class="button-LOGIN">Back to Login</button>
        </div>
    </div>
</body>