:root {
    --input-color: #27195f;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #275EFE;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
}

html {
    background-color: rgb(51, 51, 131);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    display: block;
    width: 85%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    border-color: #5f3feb;
    border-width: 2px;
    border-style: ridge;
    color: var(--input-color);
    background: var(--input-background);
    transition-duration: 0.4s;
    font-size: 60%;
}

.input:focus {
    border-radius: 13px;
    border-width: 2px;
    border-color: #3f6deb;
    outline: none;
}

.button {
    background-color: #5f3feb;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-MAIN {
    grid-column: 2;
    grid-row: 5;
    border-radius: 10px;
    height: 375px;
    background-color: #ffffff;
    text-align: center;
    padding: 0px;
    font-size: 30px;
    background-color: white;
    color: black;
    border: 2px solid #3f6deb;
    transition-duration: 500ms;
    border-radius: 6px;
    font-size: 60%;
}

.button-MAIN:hover {
    background-color: #3f6deb;
    color: white;
    border-radius: 10px;
}

.button-SIDE {
    grid-column: 2;
    grid-row: 5;
    border-radius: 10px;
    height: 375px;
    background-color: #ffffff;
    text-align: center;
    font-size: 30px;
    background-color: white;
    color: black;
    border: 0px solid #3f6deb;
    padding: 2px;
    transition-duration: 500ms;
    border-radius: 6px;
    font-size: 60%;
}

.button-SIDE:hover {
    background-color: rgb(51, 51, 131);
    color: white;
    border-radius: 10px;
}

.sidebar {
    height: 100%;
    width: 55px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 16px;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}


/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.center-container {
    display: grid;
    gap: 10px;
    padding: 100px;
}

.center-box-main {
    background-color: #ffffff;
    text-align: center;
    padding: 0px;
    font-size: 30px;
}

.center-box {
    grid-column: 1;
    grid-row: 2;
    border-radius: 10px;
    height: 500px;
    width: 500px;
}