<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='panel-style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <title>Servers | bPanel</title>
</head>

<body>
    <div class="sidebar">
        <div style="padding-left: 2px;">
            <button style="height: auto; width: auto;" class="button-SIDE" href="#home"><i class="bx bxs-server bx-lg"></i></button>
            <br>

            <button style="height: auto; width: auto; position: fixed; bottom: 60px; left: 2px;" class="button-SIDE" href="#home"><i class="bx bxs-user bx-lg"></i></button>

            <button style="height: auto; width: auto; position: fixed; bottom: 1px; left: 2px;" class="button-SIDE" href="#home"><i class="bx bxs-log-out bx-lg"></i></button>
        </div>
    </div>

    <div class="center-container">
        <div class="center-box-main center-box">

        </div>
    </div>
</body>